html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: black;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    word-wrap: break-word;
}

.header {
    padding: 20px 0;
}

.logo-img {
    height: 130px;
    width: 130px;
}

.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-registration {
    display: flex;
}

.header__menu-login-link {
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: 50px;
}

.header__menu-login-link-profile {
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: 50px;
    margin-left: 65px;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main__menu-link-logout {
    display: flex;
}

.navigation {
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 4px double black;
    background-color: #abb4b0;
}

.nav__menu {
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    white-space: nowrap;
}

.nav__menu-link {
    position: relative;
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav__menu-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.nav__menu-link:hover {
    color: rgb(235, 52, 52);
}

.nav__menu-link:hover:after {
    transform: scaleX(1);
}

.nav__menu-item.active .nav__menu-link:after {
    transform: scaleX(1);
}

.footer {
    background-color: black;
    color: #fff;
    padding: 50px 0 32px;
}

.footer__menu {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    margin-bottom: 52px;
}

.footer__menu-link {
    display: inline-block;
    padding: 10px;
    border: 1px solid transparent;
    transition: border-color 0.3s, transform 0.3s;
}

.footer__menu-link:hover {
    border-color: white;
    transform: scale(1.1);
}

.footer__copy {
    font-size: 12px;
    max-width: 800px;
    margin: 0 auto 30px;
    text-align: center;
}

.auth__form-login {
    display: flex;
}

.auth__form-log {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.auth__form-title {
    margin: 40px 0 40px;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.auth__form-input-field {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid black;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.auth__form-input-field::placeholder {
    font-size: 12px;
    line-height: 18px;
    opacity: .5;
}

.auth__form-log p {
    opacity: 0.5;
    text-align: center;
    margin: 30px 0;
}

.auth__form-log button {
    display: block;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 16px 81px;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.auth__form-registration {
    display: flex;
}

.auth__form-reg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.auth__form-reg p {
    opacity: 0.5;
    text-align: center;
    margin: 30px 0;
}

.auth__form-reg button {
    display: block;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 16px 81px;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.messages {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: red;
}

.news-item {
    border: 1px solid #333;
    padding: 20px;
    width: calc((100% - 60px) / 3);
    margin-bottom: 20px;
}

.news-item-title {
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 25px;
}

.news-item-link {
    color: #007BFF;
    text-decoration: none;
}

.news-item-image {
    width: 325px;
    height: 220px;
}

.title__news-detail {
    line-height: 30px;
}


.text__news-detail {
    font-size: 21px;
    line-height: 30px;
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 10px;
}

.img__news-detail {
    display: flex;
    margin: 0 auto;
    height: 60%;
    width: 60%;
}

.link__news-detail {
    color: green;
    font-size: 20px;
}

.main__menu-profile-item {
    display: flex;
    gap: 35px;
    font-size: 21px;
}

.main__menu-profile-link {
    display: inline-block;
    padding: 10px;
    border: 1px solid transparent;
    transition: border-color 0.3s, transform 0.3s;
}

.main__menu-profile-link:hover {
    border-color: black;
    transform: scale(1.1);
}

.create__post-title {
    margin: 40px 0 40px;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.create__post-input-field {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid black;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.create__post-input-field::placeholder {
    font-size: 12px;
    line-height: 18px;
    opacity: .5;
}

.create__post button {
    display: block;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 16px 81px;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.delete__form-news button {
    display: block;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 16px 50px;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.delete__form-news-text-alrm {
    color: red;
}

.notification {
    background-color: #e2f3ff;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #b3d8ff;
}

.notification p {
    margin: 0;
}

.notification-close {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    text-decoration: none;
}

.moder_item{
    display: flex;
}

.moder__news-title{
    display: flex;
    justify-content: center;
}

.moder__item-image{
    display: flex;
    margin: 0 auto;
    width: 325px;
    height: 220px;
}

.moder__decision{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.moder__comment-text{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.moder__news-list-item::marker {
    content: none;
}

.moder__submit-button{
    display: block;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 16px 50px;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#news-container {
    display: flex;
    flex-wrap: wrap;
}

.news-item {
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
}

.news-item-wrapper {

    padding: 10px;
    margin-bottom: 20px;
}

.hidden-news {
    display: none;
}

.more_news-button {
    display: block;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 16px 50px;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.BINF__info-item {
    display: flex;
}

.BINF__info-title {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    font-size: 30px;
}

.BINF__info-text {
    font-size: 21px;
    line-height: 30px;
}

.img__site {
    border-radius: 20px;
}